@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply w-11/12 mx-auto;
}

body {
  @apply bg-gray-900;
}

.bgimage {
  width: 100%;
  background-image: url(./../public/project/ecommerce.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}